/*! Mini Material | GPL v2.0 | https://github.com/sajran/mini-material */
.card {
  background-color: #F3F6FA;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 0 0 48px;
  padding: 0;
  text-align: left;
}
.card__title {
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  padding: 10px 10px 0;
  text-align: left;
}
.card__content {
  padding: 10px;
}

.text-field {
  position: relative;
}
.text-field__input {
  background-color: #F3F6FA;
  border-radius: 8px;
  border: 1px solid #D4D5DE;
  height: 36px;
  font-weight: 400;
  line-height: 36px;
  outline: none;
  padding: 0 0.5rem;
  transition: border-bottom 150ms ease-in;
}
.text-field__input:focus {
  border: 1px solid #D4D5DE;
}
.text-field__input:focus + label {
  color: #D4D5DE;
}
.text-field__input:focus + .text-field__input__placeholder .text-field__input__placeholder__label, .text-field__input:not(:placeholder-shown) + .text-field__input__placeholder .text-field__input__placeholder__label {
  background-color: #F3F6FA;
  background-clip: content-box;
  color: #31344B;
  transform: translate(0, -85%);
  font-size: 13px;
  font-weight: 400;
}
.text-field__input:focus + .text-field__input__placeholder .text-field__input__placeholder__label {
  border-color: #31344B;
  color: #31344B;
  font-size: 13px;
  font-weight: 400;
}
.text-field__input__placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  pointer-events: none;
  display: flex;
  align-items: center;
}
.text-field__input__placeholder__label {
  padding: 0 0.5rem;
  background-color: transparent;
  transform: translate(0);
  color: #656778;
  font-size: 16px;
  font-weight: 300;
  transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}
.text-field__textarea {
  background: #F3F6FA !important;
  border-radius: 8px;
  border: 1px solid #D4D5DE;
  height: 36px;
  font-weight: 400;
  padding: 10px;
  transition: border-bottom 150ms ease-in;
  resize: none;
  height: 78px;
  min-width: 350px;
}
.text-field__textarea:focus {
  border: 1px solid #D4D5DE;
  outline: none !important;
}
.text-field__textarea:focus + label {
  color: #D4D5DE;
}
.text-field__textarea:focus + .text-field__textarea__placeholder .text-field__textarea__placeholder__label, .text-field__textarea:not(:placeholder-shown) + .text-field__textarea__placeholder .text-field__textarea__placeholder__label {
  background-color: #F3F6FA;
  background-clip: content-box;
  color: #31344B;
  transform: translate(0, -220%);
  font-size: 13px;
  font-weight: 400;
}
.text-field__textarea:focus + .text-field__textarea__placeholder .text-field__textarea__placeholder__label {
  border-color: #31344B;
  color: #31344B;
  font-size: 13px;
  font-weight: 400;
}
.text-field__textarea__placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  pointer-events: none;
  display: flex;
  align-items: center;
}
.text-field__textarea__placeholder__label {
  padding: 0 0.5rem;
  background-color: transparent;
  transform: translate(0);
  color: #656778;
  font-size: 16px;
  font-weight: 300;
  transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}

.text-field.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.checkbox {
  display: inline-block;
  position: relative;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 24px;
}
.checkbox__input {
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  opacity: 0;
  z-index: 0;
}
.checkbox__label {
  display: block;
  padding: 2px 0 0 24px;
  color: #31344B;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.checkbox__label:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  z-index: 1;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color;
}
.checkbox__label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 4px;
  height: 12px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(45deg);
  z-index: 2;
  transition: border-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__label:before {
  background-color: hsl(213, 39%, 52%);
  border-color: hsl(213, 39%, 52%);
}
.checkbox__input:checked + .checkbox__label:after {
  border-color: #fff;
}
.checkbox__input:focus + .checkbox__label:before {
  outline: 1px dotted currentColor;
}

.radio {
  display: inline-block;
  position: relative;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 24px;
}
.radio__input {
  position: absolute;
  top: 4px;
  left: 0;
  width: 36px;
  height: 20px;
  opacity: 0;
  z-index: 0;
}
.radio__label {
  display: block;
  padding: 2px 0 0 24px;
  cursor: pointer;
  color: #31344B;
  font-size: 16px;
  font-weight: 400;
}
.radio__label:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 14px;
  z-index: 1;
  transition: border-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.radio__label:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: hsl(213, 39%, 52%);
  border-radius: 50%;
  z-index: 2;
  transform: scale(0, 0);
  transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.radio__input:checked + .radio__label:before {
  border-color: hsl(213, 39%, 52%);
}
.radio__input:checked + .radio__label:after {
  transform: scale(1, 1);
}
.radio__input:focus + .radio__label:before {
  outline: 1px dotted currentColor;
}

.switch {
  display: inline-block;
  position: relative;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 24px;
}
.switch__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 20px;
  opacity: 0;
  z-index: 0;
}
.switch__label {
  display: block;
  padding: 0 0 0 44px;
  color: #31344B;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.switch__label:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 36px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 14px;
  z-index: 1;
  transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch__label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  z-index: 2;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: left, background-color;
}
.switch__input:checked + .switch__label:before {
  background-color: rgba(85, 128, 180, 0.5);
}
.switch__input:checked + .switch__label:after {
  left: 16px;
  background-color: hsl(213, 39%, 52%);
}
.switch__input:focus + .switch__label:after {
  outline: 1px dotted currentColor;
}

.select {
  position: relative;
  width: 350px;
}
.select__select {
  position: relative;
  background: #F3F6FA;
  width: 350px;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 8px;
  border: 1px solid #D4D5DE;
}
.select__select:after {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  padding: 0 0.5rem;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
}
.select__select:focus ~ .select__label, .select__select:valid ~ .select__label {
  background-color: #F3F6FA;
  background-clip: content-box;
  color: #31344B;
  font-size: 13px;
  font-weight: 400;
  top: -10px;
  left: -5px;
  transition: 0.2s ease all;
}
.select__label {
  padding: 0 1rem;
  color: #656778;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  pointer-events: none;
  left: -5px;
  top: 10px;
  transition: 0.2s ease all;
}

[data-tooltip] {
  position: relative;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  white-space: nowrap;
  background: rgba(97, 97, 97, 0);
  border-radius: 2px;
  color: #fff;
  padding: 8px;
  z-index: 98;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-transform: none;
  visibility: hidden;
  transition: all 150ms ease-in;
  pointer-events: none;
}
[data-tooltip]:hover:after {
  visibility: visible;
  background: rgba(97, 97, 97, 0.9);
}
[data-tooltip].tooltip--top:after {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
[data-tooltip].tooltip--top:hover:after {
  transform: translate(-50%, -8px);
}
[data-tooltip].tooltip--right:after {
  bottom: 50%;
  left: 100%;
  transform: translate(0, 50%);
}
[data-tooltip].tooltip--right:hover:after {
  transform: translate(8px, 50%);
}
[data-tooltip].tooltip--bottom:after {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
[data-tooltip].tooltip--bottom:hover:after {
  transform: translate(-50%, 8px);
}
[data-tooltip].tooltip--left:after {
  bottom: 50%;
  right: 100%;
  transform: translate(0, 50%);
}
[data-tooltip].tooltip--left:hover:after {
  transform: translate(-8px, 50%);
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid.\-column {
  flex-direction: column;
}

.grid.\-reverse {
  direction: rtl;
}

.grid.\-top {
  align-items: flex-start;
}

.grid.\-middle {
  align-items: center;
}

.grid.\-bottom {
  align-items: flex-end;
}

.grid.\-stretch {
  align-items: stretch;
}

.grid.\-baseline {
  align-items: baseline;
}

.grid.\-left {
  justify-content: flex-start;
}

.grid.\-center {
  justify-content: center;
}

.grid.\-right {
  justify-content: flex-end;
}

.grid.\-between {
  justify-content: space-between;
}

.grid.\-around {
  justify-content: space-around;
}

.cell {
  box-sizing: border-box;
  flex-shrink: 0;
}

.cell.\-fill {
  width: 0;
  min-width: 0;
  flex-grow: 1;
}

@media (min-width: 576px) {
  .cell.\-sm-1of24 {
    width: 4.1666666667%;
  }
  .cell.\-sm-2of24 {
    width: 8.3333333333%;
  }
  .cell.\-sm-3of24 {
    width: 12.5%;
  }
  .cell.\-sm-4of24 {
    width: 16.6666666667%;
  }
  .cell.\-sm-5of24 {
    width: 20.8333333333%;
  }
  .cell.\-sm-6of24 {
    width: 25%;
  }
  .cell.\-sm-7of24 {
    width: 29.1666666667%;
  }
  .cell.\-sm-8of24 {
    width: 33.3333333333%;
  }
  .cell.\-sm-9of24 {
    width: 37.5%;
  }
  .cell.\-sm-10of24 {
    width: 41.6666666667%;
  }
  .cell.\-sm-11of24 {
    width: 45.8333333333%;
  }
  .cell.\-sm-12of24 {
    width: 50%;
  }
  .cell.\-sm-13of24 {
    width: 54.1666666667%;
  }
  .cell.\-sm-14of24 {
    width: 58.3333333333%;
  }
  .cell.\-sm-15of24 {
    width: 62.5%;
  }
  .cell.\-sm-16of24 {
    width: 66.6666666667%;
  }
  .cell.\-sm-17of24 {
    width: 70.8333333333%;
  }
  .cell.\-sm-18of24 {
    width: 75%;
  }
  .cell.\-sm-19of24 {
    width: 79.1666666667%;
  }
  .cell.\-sm-20of24 {
    width: 83.3333333333%;
  }
  .cell.\-sm-21of24 {
    width: 87.5%;
  }
  .cell.\-sm-22of24 {
    width: 91.6666666667%;
  }
  .cell.\-sm-23of24 {
    width: 95.8333333333%;
  }
  .cell.\-sm-24of24 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .cell.\-md-1of24 {
    width: 4.1666666667%;
  }
  .cell.\-md-2of24 {
    width: 8.3333333333%;
  }
  .cell.\-md-3of24 {
    width: 12.5%;
  }
  .cell.\-md-4of24 {
    width: 16.6666666667%;
  }
  .cell.\-md-5of24 {
    width: 20.8333333333%;
  }
  .cell.\-md-6of24 {
    width: 25%;
  }
  .cell.\-md-7of24 {
    width: 29.1666666667%;
  }
  .cell.\-md-8of24 {
    width: 33.3333333333%;
  }
  .cell.\-md-9of24 {
    width: 37.5%;
  }
  .cell.\-md-10of24 {
    width: 41.6666666667%;
  }
  .cell.\-md-11of24 {
    width: 45.8333333333%;
  }
  .cell.\-md-12of24 {
    width: 50%;
  }
  .cell.\-md-13of24 {
    width: 54.1666666667%;
  }
  .cell.\-md-14of24 {
    width: 58.3333333333%;
  }
  .cell.\-md-15of24 {
    width: 62.5%;
  }
  .cell.\-md-16of24 {
    width: 66.6666666667%;
  }
  .cell.\-md-17of24 {
    width: 70.8333333333%;
  }
  .cell.\-md-18of24 {
    width: 75%;
  }
  .cell.\-md-19of24 {
    width: 79.1666666667%;
  }
  .cell.\-md-20of24 {
    width: 83.3333333333%;
  }
  .cell.\-md-21of24 {
    width: 87.5%;
  }
  .cell.\-md-22of24 {
    width: 91.6666666667%;
  }
  .cell.\-md-23of24 {
    width: 95.8333333333%;
  }
  .cell.\-md-24of24 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .cell.\-lg-1of24 {
    width: 4.1666666667%;
  }
  .cell.\-lg-2of24 {
    width: 8.3333333333%;
  }
  .cell.\-lg-3of24 {
    width: 12.5%;
  }
  .cell.\-lg-4of24 {
    width: 16.6666666667%;
  }
  .cell.\-lg-5of24 {
    width: 20.8333333333%;
  }
  .cell.\-lg-6of24 {
    width: 25%;
  }
  .cell.\-lg-7of24 {
    width: 29.1666666667%;
  }
  .cell.\-lg-8of24 {
    width: 33.3333333333%;
  }
  .cell.\-lg-9of24 {
    width: 37.5%;
  }
  .cell.\-lg-10of24 {
    width: 41.6666666667%;
  }
  .cell.\-lg-11of24 {
    width: 45.8333333333%;
  }
  .cell.\-lg-12of24 {
    width: 50%;
  }
  .cell.\-lg-13of24 {
    width: 54.1666666667%;
  }
  .cell.\-lg-14of24 {
    width: 58.3333333333%;
  }
  .cell.\-lg-15of24 {
    width: 62.5%;
  }
  .cell.\-lg-16of24 {
    width: 66.6666666667%;
  }
  .cell.\-lg-17of24 {
    width: 70.8333333333%;
  }
  .cell.\-lg-18of24 {
    width: 75%;
  }
  .cell.\-lg-19of24 {
    width: 79.1666666667%;
  }
  .cell.\-lg-20of24 {
    width: 83.3333333333%;
  }
  .cell.\-lg-21of24 {
    width: 87.5%;
  }
  .cell.\-lg-22of24 {
    width: 91.6666666667%;
  }
  .cell.\-lg-23of24 {
    width: 95.8333333333%;
  }
  .cell.\-lg-24of24 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .cell.\-xl-1of24 {
    width: 4.1666666667%;
  }
  .cell.\-xl-2of24 {
    width: 8.3333333333%;
  }
  .cell.\-xl-3of24 {
    width: 12.5%;
  }
  .cell.\-xl-4of24 {
    width: 16.6666666667%;
  }
  .cell.\-xl-5of24 {
    width: 20.8333333333%;
  }
  .cell.\-xl-6of24 {
    width: 25%;
  }
  .cell.\-xl-7of24 {
    width: 29.1666666667%;
  }
  .cell.\-xl-8of24 {
    width: 33.3333333333%;
  }
  .cell.\-xl-9of24 {
    width: 37.5%;
  }
  .cell.\-xl-10of24 {
    width: 41.6666666667%;
  }
  .cell.\-xl-11of24 {
    width: 45.8333333333%;
  }
  .cell.\-xl-12of24 {
    width: 50%;
  }
  .cell.\-xl-13of24 {
    width: 54.1666666667%;
  }
  .cell.\-xl-14of24 {
    width: 58.3333333333%;
  }
  .cell.\-xl-15of24 {
    width: 62.5%;
  }
  .cell.\-xl-16of24 {
    width: 66.6666666667%;
  }
  .cell.\-xl-17of24 {
    width: 70.8333333333%;
  }
  .cell.\-xl-18of24 {
    width: 75%;
  }
  .cell.\-xl-19of24 {
    width: 79.1666666667%;
  }
  .cell.\-xl-20of24 {
    width: 83.3333333333%;
  }
  .cell.\-xl-21of24 {
    width: 87.5%;
  }
  .cell.\-xl-22of24 {
    width: 91.6666666667%;
  }
  .cell.\-xl-23of24 {
    width: 95.8333333333%;
  }
  .cell.\-xl-24of24 {
    width: 100%;
  }
}
.supporting-text {
  font-size: 12px;
  color: #656778;
}

.pt-1 {
  padding-top: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.pt-auto {
  padding-top: auto;
}

.mt-auto {
  margin-top: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.pl-auto {
  padding-left: auto;
}

.ml-auto {
  margin-left: auto;
}

.pr-auto {
  padding-right: auto;
}

.mr-auto {
  margin-right: auto;
}
