// Card

.card {
    background-color: $card-background-color;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: 0 0 $card-margin-bottom;
    padding: 0;
    text-align: left;

    &__title {
        font-weight: 300;
        font-size: 24px;
        margin: 0;
        padding: $card-padding $card-padding 0;
        text-align: left;
    }

    &__content {
        padding: $card-padding;
    }

}