.option-row.is-comment {
  label:before {
    content: "";
    top: 5.5px;
    left: 0px;
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='hsl(213, 39%, 52%)' class='bi bi-info-circle' viewBox='0 0 16 16'> <path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/> <path d='m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>");
  
  }
  .text__supporting {
    margin-left: 23px;
  }
} 

.option-row.is-comment:not(:last-child) {
  padding-bottom: 10px;
}

.text {
  box-sizing: border-box;

  & *,
  & *::before,
  & *::after {
      box-sizing: inherit;
  } 

  &__heading {
    color: #000;
  }
  &__supporting {
    display: inline-block;
    padding-top: 3px;
    position: relative;
    vertical-align: top;
    white-space: pre-line;
    font-size: $text-supporting-size;
  }
} 

.option-group-legend {
  color: #202020;
}

