$spacings: (1, auto);

$sides: (
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right",
);

@each $space in $spacings {
  @each $prefix, $positions in $sides {
    .p#{$prefix}-#{$space} {
      @each $pos in $positions {
        padding-#{$pos}: if($space == auto, $space, #{$space * 0.25}rem);
      }
    }
    .m#{$prefix}-#{$space} {
      @each $pos in $positions {
        margin-#{$pos}: if($space == auto, $space, #{$space * 0.25}rem);
      }
    }
  }
}
