.supporting {
  &__text {
    opacity: $supporting-opacity;
    padding-top: 3px;
    display: inline-block;
    vertical-align: top;
    white-space: pre-line;
    font-size: $supporting-text-size;
    position: relative;
    line-height: 18px;
  }
}

.option-group {
  &__heading {
    color: #31344b;
    font-weight: 500;
    font-size: 1.25rem;
  }
  &__text {
    color: $black-color;
  }
}
