// Global
$transition-duration: 150ms !default;
$primary-color: hsl(213, 39%, 52%) !default;
$border-color: #9e9e9e !default;
$black-color: #000 !default;
$background: #eaf0fa !default;

// Cards
$card-background-color: $background;
$card-padding: 10px !default;
$card-margin-bottom: 48px !default;

// Forms
$text-field-border-radius: 8px !default;
$text-field-height: 36px !default;
$text-field-font-weight: 400 !default;
$text-field-placeholder-color: $black-color !default;
$text-field-unfocused-color: $border-color !default;
$text-field-color: $border-color;
$text-field-accent-color: $border-color !default;
$select-border-radius: 8px !default;
$select-border: 1px solid $border-color;

// Tooltips
$tooltip-font-size: 12px !default;
$tooltip-padding: 8px !default;
$tooltip-margin: 8px !default;

// Grid
$total-columns: 24 !default;

// Comment
$supporting-text-size: 14px !default;
$supporting-opacity: 0.8;

// Comment
$comment-border-radius: 8px !default;
$comment-border: 1px dashed $black-color;
$comment-font-size: 14px;