// Global
$transition-duration: 150ms !default;
$primary-color: #3f51b5 !default;

// Forms
$text-field-height: 36px !default;
$text-field-font-weight: 400 !default;
$text-field-placeholder-color: rgba(0, 0, 0, .2) !default;
$text-field-unfocused-color: rgba(0, 0, 0, .5) !default;
$text-field-color: #757575 !default;
$text-field-accent-color: $primary-color !default;


// Tooltips
$tooltip-font-size: 12px !default;
$tooltip-padding: 8px !default;
$tooltip-margin: 8px !default;


// Grid
$total-columns: 24 !default;