// Global
$transition-duration: 150ms;
$primary-color: hsl(213, 39%, 52%) !default;
$gray-color: #9e9e9e !important;
$border-color: $gray-color;
$black-color: #000;
$background: #fff;

// Forms
$text-field-border-radius: 4px !important;
$text-field-height: 36px !important;
$text-field-line-height: 34px !important; 
$text-field-font-weight: 400 !important;
$text-field-placeholder-color: $primary-color !important;
$text-field-unfocused-color: $border-color !important;
$text-field-color: $border-color;
$text-field-color-picker-border: 1px solid #ccc !important;
$text-field-accent-color: $black-color !important;
$text-field-accent-border: 1px solid $border-color;
$select-border-radius: 4px !important;

// Tooltips
$tooltip-font-size: 12px;
$tooltip-padding: 8px;
$tooltip-margin: 8px;

// Grid
$total-columns: 24 !important;

// Comment
$text-supporting-size: 14px !important;

// Comment
$comment-border-radius: 8px !important;
$comment-border: 1px dashed $black-color;
$comment-font-size: 14px !important;