.select {
  position: relative;

  &__select {
    position: relative;
    background: $background;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    border-radius: $select-border-radius;
    border: $select-border;
  }
  
  &__label {
    background-color: $background;
    background-clip: content-box;
    color: $black-color;
    font-size: 13px;
    font-weight: $text-field-font-weight;
    top: -8px;
    left: 8px;
    transition: 0.2s ease all;
    position: absolute;
  }
}
