.select {
  position: relative;

  &__select {
    position: relative;
    background: $background;
    padding: 10px 3px 7px 10px;
    font-weight: 300;
    border-radius: 0px;
    border-top-right-radius: $select-border-radius !important;
    border-top-left-radius: $select-border-radius !important;
    border: $select-border;
    width: 215px;
  }
}
