.select {
  position: relative;

  &__select {
    position: relative;
    background: $background;
    padding: 3px 3px 3px 10px;
    font-weight: 300;
    border-radius: 0px;
    border-top-right-radius: $select-border-radius;
    border-top-left-radius: $select-border-radius;
    border: 1px solid $border-color;
    width: 215px;
    height: 36px;
  }
}


.bg-d1d9e6 {
  .select__select{
    background: #d1d9e6 !important;
  }
}