// Text Fields

.text-field {
  position: relative;

  &__input {
    background-color: $background;
    border-radius: 0px;
    border-top-right-radius: $text-field-border-radius;
    border-top-left-radius: $text-field-border-radius;
    border: 1px solid $border-color;
    height: $text-field-height;
    font-weight: $text-field-font-weight;
    line-height: $text-field-line-height;
    outline: none;
    padding: 0 0.5rem;
    transition: border-bottom $transition-duration ease-in;
    width: 215px;

    &:focus {
      border: 1px solid $border-color;
      color: $text-field-accent-color;
    }
    &:not(:placeholder-shown)
      + .text-field__input__placeholder
      .text-field__input__placeholder__label {
      display: none;
    }
    &:focus
      + .text-field__input__placeholder
      .text-field__input__placeholder__label {
      background-color: $background;
      background-clip: content-box;
      color: $text-field-accent-color;
      transform: translate(0, -18px);
      font-size: 13px;
      font-weight: $text-field-font-weight;
      display: block;
    }

    &__placeholder {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      pointer-events: none;
      display: flex;
      align-items: center;

      &__label {
        padding: 0 0.5rem;
        background-color: transparent;
        transform: translate(0);
        color: #656778;
        font-size: 14px;
        font-weight: 300;
        transition:
          transform 0.15s ease-out,
          font-size 0.15s ease-out,
          background-color 0.2s ease-out,
          color 0.15s ease-out;
      }
    }
  }

  &__color {
    background-color: $background;
    border-radius: 0px;
    border-top-right-radius: $text-field-border-radius;
    border-top-left-radius: $text-field-border-radius;
    border: 1px solid $border-color;
    height: $text-field-height;
    font-weight: $text-field-font-weight;
    line-height: $text-field-line-height;
    outline: none;
    width: 215px;
    padding: 0 0.5rem;
    transition: border-bottom $transition-duration ease-in;

    &:focus {
      border: 1px solid $border-color;
      color: $text-field-accent-color;
    }
    &:focus
      + .text-field__color__placeholder
      .text-field__color__placeholder__label {
      display: block !important;
      background-color: $background;
      background-clip: content-box;
      color: $text-field-accent-color;
      transform: translate(0, -18px);
      font-size: 13px;
      font-weight: $text-field-font-weight;
    }
    &:not(:placeholder-shown)
      + .text-field__color__placeholder
      .text-field__color__placeholder__label {
      display: none;
    }

    &__picker {
      cursor: pointer;
      height: 24px;
      width: 24px;
      content: "";
      left: 185px;
      position: absolute;
      border: $text-field-color-picker-border;
      top: 6px;
    }

    &__placeholder {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      pointer-events: none;
      display: flex;
      align-items: center;

      &__label {
        padding: 0 0.5rem;
        background-color: transparent;
        transform: translate(0);
        color: #656778;
        font-size: 14px;
        font-weight: 300;
        left: 0px;
        transition:
          transform 0.15s ease-out,
          font-size 0.15s ease-out,
          background-color 0.2s ease-out,
          color 0.15s ease-out;
      }
    }
  }

  &__textarea {
    background: $background !important;
    border-radius: 0px;
    border-top-right-radius: $text-field-border-radius;
    border-top-left-radius: $text-field-border-radius;
    border: 1px solid $border-color;
    height: $text-field-height;
    font-weight: $text-field-font-weight;
    padding: 10px;
    transition: border-bottom $transition-duration ease-in;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 55px !important;
    width: 215px;

    &:focus {
      border: 1px solid $border-color;
      outline: none !important;
    }
    &:focus
      + .text-field__textarea__placeholder
      .text-field__textarea__placeholder__label {
      background-color: $background;
      background-clip: content-box;
      color: $text-field-accent-color;
      transform: translate(0, -14px);
      font-size: 13px;
      font-weight: $text-field-font-weight;
      display: block !important;
    }
    &:not(:placeholder-shown)
      + .text-field__textarea__placeholder
      .text-field__textarea__placeholder__label {
      display: none;
    }

    &__placeholder {
      position: absolute;
      top: 5px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      pointer-events: none;
      display: flex;
      align-items: start;

      &__label {
        padding: 0 0.5rem;
        background-color: transparent;
        transform: translate(0);
        color: #656778;
        font-size: 14px;
        font-weight: 300;
        transition:
          transform 0.15s ease-out,
          font-size 0.15s ease-out,
          background-color 0.2s ease-out,
          color 0.15s ease-out;
      }
    }
  }
}
